/* Custom CSS */
.navbar {
    background-image: url('asset/background.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    font-size: 20px;
    color: rgb(117, 116, 116);
}

.custom-text {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.img1 {
    width: 150px;
}

@media (min-width: 768px) {
    .custom-text {
        font-size: 2rem;
    }
    .img1 {
        width: 200px;
    }
}
